<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
{% load static %}
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<title>管理员列表</title>
	<script type='text/javascript' src='{% static 'jquery-3.1.1.min.js' %}'> </script>
	<script type='text/javascript'>$(document).ready(function(){

		$('td#delete').click(function(){
			$('tr#' + $(this).attr('value') + '').remove();
			/*if(confirm('确实要删除该管理员?')) {
				alert('删除成功');
				$.ajax({
					url: 'adminlist',
					type: 'POST',
					data: {'op': 'delete', 'username': $(this).attr('value')},
					success: function(data) {

					}
				});
			}*/
		});

	});</script>
</head>

<body>
<a href='/logout/'>登出</a> <br/>

<h3>管理员列表</h3>
<table>
	<tr>
		<td align=center> 学号 </td>
		<td align=center> 姓名 </td>
		<td> </td>
	</tr>
	{% for admin in admin_list %}
	<tr id='{{ admin.username }}'>
		<td> {{ admin.username }} </a> </td>
		<td> 黄小明 </td>
		<td id='delete' value='{{ admin.username }}'> 删除 </td>
	</tr>
	{% endfor %}
</table>
</body>

<h3>添加管理员</h3>
<form method='post' enctype='multipart/form-data'>
	{% csrf_token %}
	<input type='text' name='username' />
	<input type='submit' value='添加' />
</form>
{{ info }}

</html>