<!DOCTYPE html>
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> 首页 </title>
	<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
	<script src='{% static 'js/csrf.js' %}'> </script>
	<script src='{% static 'js/header_footer.js' %}'> </script>
	<script src='{% static 'js/index.js' %}'> </script>
</head>

<body>
<div id='header' uid={{ user.id }}> </div>

<h3> 首页 </h3>
<b><i> {{ user.username }} </i></b>
<br/><br/>

{% if user.is_superuser %}
<a href='/admin_list/'> 管理员列表 </a> <br/>
{% endif %}

{% if user.is_staff %}
<a href='/user_list/'> 用户列表 </a> <br/>
<button id='survey_create'> 添加问卷 </button>
{% endif %}

<p> 正在进行的问卷 </p>
<table>
	<tr>
		<td align=center> 问卷编号 </td>
		<td align=center> 标题 </td>
		<td align=center> 是否填写 </td>
		{% if user.is_staff %}
		<td align=center> 状态 </td>
		{% endif %}
	</tr>
	{% for rq in rq_list %}
	<tr>
		<td> {{ rq.id }} </td>
		<td> <a href='/survey/{{ rq.id }}'> {{ rq.title }} </a> </td>
		<td>  {{ rq.fill }} </td>
		{% if user.is_staff %}
		<td> {{ rq.status }} </td>
		{% endif %}
	</tr>
	{% endfor %}
</table>


<div id='footer'> </div>
</body>
</html>