<!DOCTYPE html>
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> 首页 </title>
	<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
	<script src='{% static 'js/csrf.js' %}'> </script>
	<script src='{% static 'js/header_footer.js' %}'> </script>
	<script src='{% static 'js/index.js' %}'> </script>
</head>

<body>
<div id='header' uid={{ user.uid }}> </div>

<h3> 首页 </h3>
<b><i> {{ user.username }} </i></b>
<br/><br/>

{% if user.is_superuser %}
<a href='/admin_list/'> 管理员列表 </a> <br/>
{% endif %}

{% if user.is_staff %}
<a href='/user_list/'> 用户列表 </a> <br/>
<button id='survey_create'> 添加问卷 </button>
{% endif %}

<p> 正在进行的问卷 </p>
{% for questionaire in questionaire_list %}
<a href='/survey/{{ questionaire.id }}'> {{ questionaire.title }} </a>
{% endfor %}


<div id='footer'> </div>
</body>
</html>