<!DOCTYPE html>
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> 用户 </title>
	<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
	<script src='{% static 'js/csrf.js' %}'> </script>
	<script src='{% static 'js/header_footer.js' %}'> </script>
	<script src='{% static 'js/profile.js' %}'> </script>
</head>

<body>
<div id='header' uid={{ uid }}> </div>

<img src='{% static 'dog.jpeg' %}'> </img>

<table>
	<tr>
		<td align=right> ID: </td>
		<td> {{ user.id }} </td>
	</tr>
	<tr>
		<td align=right> 学号: </td>
		<td> {{ user.username }} </td>
	</tr>
	<tr>
		<td align=right> 积分: </td>
		<td> {{ suser.credit }} </td>
	</tr>
<table>

<p> 历史 </p>
<table>
<tr>
	<td> 问卷编号 </td>
	<td> 问卷名称 </td>
	<td> 是否填写 </td>
</tr>
{% for rq in rq_list %}
<tr>
	<td> {{ rq.questionaire.id }} </td>
	<td> <a href='/survey/{{ rq.questionaire.id }}'> {{ rq.questionaire.title }} </a> </td>
	<td> {{ rq.fill }} </td> 
</tr>
{% endfor %}
</table>

<div id='footer'> </div>
</body>
</html>