<!DOCTYPE html>
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> 用户 </title>
	<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
	<script src='{% static 'js/csrf.js' %}'> </script>
	<script src='{% static 'js/header_footer.js' %}'> </script>
	<script src='{% static 'js/profile.js' %}'> </script>
</head>

<body>
<div id='header' uid={{ uid }}> </div>

<img src='{% static 'dog.jpeg' %}'> </img>

<table>
	<tr>
		<td align=right> ID: </td>
		<td> {{ uid }} </td>
	</tr>
	<tr>
		<td align=right> 学号: </td>
		<td> {{ username }} </td>
	</tr>
	<tr>
		<td align=right> 积分: </td>
		<td> 123 </td>
	</tr>
<table>

<a> 已填问卷 </a>

<div id='footer'> </div>
</body>
</html>