<!DOCTYPE>
{% load static %}
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> 问卷 </title>
	
	<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
	<link href='{% static 'css/survey.css' %}' rel="stylesheet">

	<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
	<script src='{% static 'js/csrf.js' %}'> </script>
	<script src='{% static 'bootstrap/js/bootstrap.min.js' %}'> </script>
	<script src='{% static 'js/header_footer.js' %}'> </script>
	<script src='{% static 'js/survey.js' %}'> </script>
	<script src='{% static 'js/survey_create.js' %}'> </script>
	<script src='{% static 'js/survey_show.js' %}'> </script>
</head>

<body>
<div id='header' uid={{ user.id }}> </div>

{% ifequal viewable 1 %}



	{% ifequal status 0 %}
	标题：<input type='text' id='title' value='{{ questionaire.title }}' />
	<br/>
	<button type="button" class="btn" data-toggle="modal" data-target="#myModal" onclick="createSurvey(1)"> 单选题 </button>
	<button type="button" class="btn" data-toggle="modal" data-target="#myModal" onclick="createSurvey(2)"> 多选题 </button>
	<button type="button" class="btn" data-toggle="modal" data-target="#myModal" onclick="createSurvey(3)"> 填空题 </button>
	{% endifequal %}

	{% ifequal status 1 %}
	<br/>
	<p id='title'> </p>
	<br/>
	{% endifequal %}



	{% ifequal status 0 %}
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">添加新问题</h4>
	      </div>
	      <div class="modal-body" id="myModal_body"> 
	       
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary" onclick="commitS()">保存</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endifequal %}



	<div style="text-align:left;">
		<table id="questions" style="width:100%;">
		</table>
	</div>



	{% ifequal status 0 %}
	<div style="text-align:left;">
		<button id="save_btn" onclick="save()"> 暂存 </button>
	<div>
	<div style="text-align:left;">
		<button id="release_btn" onclick="release()"> 发布 </button>
	</div>
	{% endifequal %}

	{% ifequal status 1 %}
	{% ifequal permission_submit 1 %}
	<div style="text-align:left;">
		<button id ="submit_btn" onclick="submit()">提交</button>
	</div>
	{% endifequal %}
	{% if user.is_staff %}
	<button id="close_btn" onclick="closeup()"> 关闭问卷 </button>
	{% endif %}
	{% endifequal %}

	{% ifequal status 2 %}
	<button id="analysis_btn" onclick="analysis()"> 生成报告 </button>
	{% endifequal %}



{% endifequal %}

<br/>
{{ info }}

<div id='footer'> </div>
</body>