<!DOCTYPE>
{% load static %}
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> 问卷 </title>
	
	<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
	<link href='{% static 'css/designjs.css' %}' rel="stylesheet">

	<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
	<script src='{% static 'js/csrf.js' %}'> </script>
	<script src='{% static 'bootstrap/js/bootstrap.min.js' %}'> </script>
	<script src='{% static 'js/header_footer.js' %}'> </script>
	<script src='{% static 'js/survey_create.js' %}'> </script>
</head>





<body>
<div id='header' uid={{ uid }}> </div>





{% ifequal status 0 %}
<button type="button" class="btn" data-toggle="modal" data-target="#myModal" onclick="createSurvey(1)"> 单选题 </button>
<button type="button" class="btn" data-toggle="modal" data-target="#myModal" onclick="createSurvey(2)"> 多选题 </button>
<button type="button" class="btn" data-toggle="modal" data-target="#myModal" onclick="createSurvey(3)"> 填空题 </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加新问题</h4>
      </div>
      <div class="modal-body" id="myModal_body"> 
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="commitS()">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- Survey preview -->
<div style="text-align:left;">
	<table id="questions" style="width:100%;">
	</table>
</div>

<div style="text-align:left;">
	<button id ="submit_btn" onclick="submit()">完成</button>
</div>
{% endifequal %}





{% ifequal status 1 %}
<p> 问卷 </p>
{% for question in question_list %}
<div>
	<span> 第 {{ forloop.counter }} 题 </span> <br/>
	<span> 类型： {{ question.qtype }} </span> <br/>
	{{ question.content }} <br/>
	<input type='text' />
</div>
<br/>
{% endfor %}
<button id='submit'> 提交 </button>
<form id='submit_form' method='POST' action='/bonus/'>
	<input id='submit_form_credit' type='hidden' name='credit' />
</form>
{% endifequal %}


{% ifequal status 2 %}
{% endifequal %}

<br/>
{{ info }}

<div id='footer'> </div>
</body>
</html>