.DS_Store
/文档/*
/media/*
/TsingSurvey/*.pyc
/TsingSurvey/__pycache__/*.pyc
/SUser/.DS_Store
/SUser/migrations/*
/SUser/__pycache__/*.pyc
/SUser/*.pyc
/Survey/.DS_Store
/Survey/migrations/*
/Survey/__pycache__/*.pyc
/Survey/*.pyc
/Analysis/.DS_Store
/Analysis/migrations/*
/Analysis/__pycache__/*.pyc
/Analysis/*.pyc
/static/.DS_Store
/static/js/.DS_Store
/static/template/.DS_Store
/TsingSurvey/settings.py
