.DS_Store
/文档/*
/media/*
/TsingSurvey/*.pyc
/SUser/.DS_Store
/SUser/migrations/*
/Survey/.DS_Store
/Survey/migrations/*
/Analysis/.DS_Store
/Analysis/migrations/*
/static/.DS_Store
/static/js/.DS_Store
/static/template/.DS_Store

