{% extends "base.html" %}
  {% load static %}
    {% block context %}
<script src='{% static 'js/admin_list.js' %}'> </script>
<div class="col-md-offset-1 col-md-10 ">
<h3 class="text-center"> 管理员列表 </h3>

<input type='text' id='add' name='username' placeholder="输入学号"  />
<button class="btn btn-success btn-sm " id='add'> 添加 </button>
<button  class="btn btn-danger btn-sm " id='delete'> 删除 </button>

<br>
<br>
<table class="table table-hover" id='admin_list'>
	<tr>
		<td></td>
		<td align=center> 学号 </td>
		<td align=center> 姓名 </td>
	</tr>
	<tr type='clone' style='display:none'>
		<td align=center> <input type='checkbox' username='' /> </td>
		<td align=center> <a type='username'> clone </a> </td>
		<td align=center type='name'> clone </td>
	</tr>
	<tr type='item'>
		<td align=center> <input type='checkbox' username='' /> </td>
		<td align=center> remove_a </td>
		<td align=center> remove_b </td>
	</tr>
</table>

</div>

    {% endblock context %}