{% extends "base.html" %}
	{% load static %}
    {% block context %}

<script>
	function export_multi() {
		var qids = $('#qids').val();
		$.ajax({
			url: window.location.href,
			type: "POST",
			data: {"op": "export_multi", "qids": qids},
			success: function(data) {
				var data = JSON.parse(data);
				export_path = '/' + data['export_path'];
				$('a#download').attr('href', export_path);
				document.getElementById("download").click();
			}
		});
	}
</script>

<input id="qids" type="text">
<button id="sub" onclick="export_multi()">导出多个问卷</button>
例如：[1,2,3]
<a id="download"></a>

    {% endblock context %}
