{% extends "base.html" %}
	{% load static %}
    {% block context %}
<script src='{% static 'js/index.js' %}'> </script>
<div class="col-md-offset-1 col-md-10 ">


<h3 class="text-center"> 问卷 </h3> 
<table class="table table-hover"> 
	<tr>
		<td align=center> 创建日期 </td>
		<td align=center> 标题 </td>
		<td align=center> 是否填写？ </td>
		{% if suser.admin_all %}
		<td align=center> 发放人 </td>
		{% endif %}
		{% if editable %}
		<td align=center> 问卷状态 </td>
		<td align=center> 提交/填写 </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		{% endif %}
	</tr>
	{% for rq in rq_list %}
	<tr>
		<td align=center> {{ rq.create_time | date:"Y-m-d H:i:s" }} </td>
		<td align=center> <a href='/survey/{{ rq.id }}'> {{ rq.title }} </a> </td>
		<td align=center>  {{ rq.fill }} </td>
		{% if suser.admin_all %}
		<td align=cetner> {{ rq.founder }} </td>
		{% endif %}
		{% if editable %}
			{% if rq.editable %}
			<td align=center> {{ rq.status }} </td>
			<td align=center> <a href='/survey_status/{{ rq.id }}/'> {{ rq.submitted_number }}/{{ rq.filled_number }}  </a> </td>
			<td qid='{{ rq.id }}' onclick='delete_questionaire(this)'> <!--<span class='glyphicon glyphicon-remove'> </span>-->删除 </td>
			<td qid='{{ rq.id }}' onclick='copy_questionaire(this)'> <!--<span class='glyphicon glyphicon-plus'> </span>-->复制 </td>
			<td qid='{{ rq.id }}' onclick='export_index(this)'> <!--<span class='glyphicon glyphicon-arrow-down'> </span>-->导出已填 </td>
			<td qid='{{ rq.id }}' onclick='export_all_index(this)'> <!--<span class='glyphicon glyphicon-sort-by-attributes'> </span>-->导出所有 </td>
			<td> <a id='{{ rq.id }}download'> </a> </td>
			{% else %}
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			{% endif %}
		{% endif %}
	</tr>
	{% endfor %}
</table>
	{% if editable %}
<form enctype='multipart/form-data' action='/index/' method='post' style='margin:0px;float:left'>
	{% csrf_token %}
	<input type='submit' value='导入问卷' class='btn btn-info' >
	<input type='file' class='btn' name='upload' style='margin:0px;display:inline;'>
	{% csrf_token %}
</form>
<button id='survey_create' class="btn btn-success " style="float:right;margin-right:10px"> 添加 </button> <br/>
{% endif %}

</div>

    {% endblock context %}
