<!DOCTYPE html>
{% load static %}
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Login </title>

	<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
</head>

<body style="text-align:center; background-size:cover" background="{% static 'img/background.jpg' %}" >
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	<p class="text-center" style="color:#A0522D; font-size:40px; margin:100px 0px 50px 0px"><span class="glyphicon glyphicon-search"> </span>YouthResearch</p>
	<form method='post' enctype='multipart/form-data'>
		{% csrf_token %}
		<input type='text' name='username' class="form-control" placeholder="学号" />
		<br />
		<input type='password' name='password' class="form-control" placeholder="密码"/>
		<br />
		<input type='submit' value='登录' class="btn btn-primary btn-lg btn-block" />
	</form>
	{{ info }}
	</div>
	<div class="col-md-4"></div>
</div>
</body>
</html>