<!DOCTYPE html>
{% load static %}
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Login </title>

	<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
	<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
</head>

<body style="text-align:center; background-size:cover; height: 100%" background="{% static 'img/background.jpg' %}" >
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	<p class="text-center" style="color:#A0522D; font-size:40px; margin:100px 0px 100px 0px"><span class="glyphicon glyphicon-search"> </span>YouthResearch</p>
	<form method='post' enctype='multipart/form-data' style="margin:10px 10px 10px 10px;">
		{% csrf_token %}
		<input type='text' name='username' class="form-control" placeholder="学号"/>
		<br />
		<input type='password' name='password' class="form-control" placeholder="密码"/>
		<br />
		<input type='submit' value='登录' class="btn btn-primary btn-lg btn-block" />
	</form>
	{{ info }}
	</div>
	<div class="col-md-4"></div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		if(IsPC()==false){
			$('body').prop("background", "{% static 'img/background2.jpg' %}");
		}
	});
	function IsPC() {
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
    return flag;
	}
</script>
</body>
</html>