{% extends "base.html" %}
	{% load static %}
    {% block context %}
<script src='{% static 'js/jquery.qrcode.js' %}'> </script>
<script src='{% static 'js/qrcode.js' %}'> </script>
<script src='{% static 'js/prize_ticket.js' %}'> </script>

<div id="qrcode"></div> 
<div class="col-md-offset-1 col-md-10 ">
{% if personal %}
<h3>已兑换物品</h3>
{% else %}
<h3>兑换记录</h3>
<p style="float:right">已结算/已消费/总共兑换：{{ cleared }}/{{ used }}/{{ total }}</p><br/>
<p style="float:right">待结算金额：{{ money }}</p><br/>
{% endif %}
<table>
	<tr>
		<td> 商品名称 </td>
		<td> 兑换人 </td>
		<!--<td> 过期时间 </td>-->
		<td> 金额 </td>
		<!--<td> 数量 </td>-->
		<td> 是否消费 </td>
		<td> 是否结算 </td>
		<td>  </td>
	</tr>
	{% for pair in prizeTickets %}
	<tr>
		<td> {{ pair.prize.title }} </td>
		<td> {{ pair.username }} </td>
		<!--<td> {{ pair.prize.expire_time | date:"Y-m-d" }} </td>-->
		<td> {{ pair.ticket.price }} </td>
		<!--<td> {{ pair.ticket.count }}-->
		<td> {% if pair.ticket.used %} √ {% else %}  {% endif %} </td>
		<td> {% if pair.ticket.used %} √ {% else %}  {% endif %} </td>
		<td> <button tid="{{ pair.ticket.id }}" onclick="exchange(this)">使用</button> </td>
	</tr>
	{% endfor %}
</table>
</div>
{% endblock context %}