{% extends "base.html" %}
	{% load static %}
    {% block context %}
<script src='{% static 'js/prize.js' %}'> </script>
<div class="col-md-offset-1 col-md-10 ">

<h3>积分兑换</h3>
<div>
{% if user.is_staff %}
	<a style="float:left" href="/prize_add/"><button class="btn btn-sm btn-primary">添加新奖品</button></a>
	<a style="float:left" href="/prize_store/"><button class="btn btn-sm btn-info">查看商家</button></a>
	<a style="float:left" href="/prize_add_store/"><button class="btn btn-sm btn-warning">添加新商家</button></a>
{% endif %}
	<a style="float:left" href="/prize_ticket/u/{{ suser.id }}"><button class="btn btn-sm btn-success">已兑换奖品</button></a>
	<p style="float:right">我的积分：{{ suser.credit }}</p>
</div>
<br/>
<br/>
<div>
	<table class="table">
	<tr >
		<td>奖品名称</td>
		<td>奖品描述</td>
		<td>兑换积分</td>
		<td>金额</td>
		<td>操作</td>
	</tr>
	{% for prize in prizes %}
	<tr pid="{{ prize.id }}">
		<td
			{% if user.is_staff %}
				onclick="change_title(this)"
				{% endif %}
			>
			<p id="title"> {{ prize.title }} </p>
		</td>
		<td style="width: 25%">
			<button id="description" content="{{ prize.description }}" onclick="show_description(this)" class="btn-primary">查看</button>
			{% if user.is_staff %}
			<button class="btn-success" onclick="change_description(this)">修改</button>
			{% endif %}
		</td>
		<td
			{% if user.is_staff %}
			onclick="change_credit(this)"
			{% endif %}
		>
			<p id="credit">{{ prize.credit }}</p>
		</td>
		<td
			{% if user.is_staff %}
			onclick="change_price(this)"
			{% endif %}
		>
			<p id="price">{{ prize.price }}</p>
		</td>
		<!--<td>
			<p>截止时间</p>
			<p>{{ prize.expire_time | date:"Y-m-d"}}</p>
		</td>-->
		<td >
			<button class="btn-success" onclick="exchange(this)">兑换</button>
		
		{% if user.is_staff %}
		
			<button class="btn-warning" onclick="deletee(this)">删除</button>
			<a href="/prize_ticket/p/{{ prize.id }}/" ><button class="btn-primary ">交易记录</button></a>
		
		{% endif %}
		</td>
	</tr>
	{% endfor %}
	</table>
</div>
{% endblock context %}
