{% extends "base.html" %}
	{% load static %}
    {% block context %}
<script src='{% static 'js/prize_store.js' %}'> </script>
<div class="col-md-offset-1 col-md-10 ">

<h3>查看商家</h3>
<div>
<table class="table">
	<tr>
		<td>商家用户名</td>
		<td>商家昵称</td>
		<td>可操作奖品</td>
		<td></td>
	</tr>
	{% for pair in storepairs %}
	<tr sid={{ pair.store.id }}>
		<td><a href="/prize_ticket/u/{{ pair.store.id }}/">{{ pair.store.username }}</a></td>
		<td><p id="nickname" onclick="change_nickname(this)">{{ pair.store.nickname }}</p></td>
		<td id="manage_prizes" align="left">
			{% for prize in pair.prizes %}
				{{ prize.title }}
			{% endfor %}
		</td>
		<td>
			<span style="float:right" class="glyphicon glyphicon-plus" onclick="add_prize(this)" data-toggle="modal" data-target="#myModal" /> 
		</td>
	<tr>
	{% endfor %}
</table>

<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	  <div class="modal-dialog" style="width:200px">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"> </h4>
	      </div>
	      <div class="modal-body" id="myModal_body"> 
	      	xxx
	      	{% for prize in prizes %}
	      	<input type="checkbox"/>{{ prize.title }}<br/>
	      	{% endfor %}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default " data-dismiss="modal" > 关闭 </button>
	        <button type="button" class="btn btn-primary" onclick="commitRS()"> 确定 </button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

</div>
{% endblock context %}