{% extends "base.html" %}
  {% load static %}
    {% block context %}
<script src='{% static 'js/profile.js' %}'> </script>
<div class="col-md-offset-2 col-md-8 ">
<div class="row">
  <div class="col-md-6"><img id='head' puid='{{ puser.id }}' style="float:center"> </img></div>
  <div class="col-md-6">
  <div class="panel panel-primary">
    	<div class="panel-heading">
        	<h5> 个人信息 </h5>
    	</div>
    	<div class="panel-body">
    	<table class = "table table-condensed">
      <!--<tr class="success">
				<td > 姓名 </td>
				<td> {{ user.username }} </td>
			</tr>-->
    		<tr class="info">
				<td > 用户编号 </td>
				<td> {{ puser.id }} </td>
			  </tr>
			<!--<tr class="danger">
				<td > 学号 </td>
				<td> {{ puser.username }} </td>
			</tr>-->
			<tr class="warning">
				<td> 积分 </td>
				<td> {{ psuser.credit }} </td>
			</tr>
    	</table>
    	</div>
  </div>
  <div style="float:right">
    <a href='/prize/'><button class="btn btn-sm btn-primary">积分兑换</button></a>
    <a href='/prize_ticket/'><button class="btn btn-sm btn-success">已兑换商品</button></a>
  </div>
  </div>
</div>

		
</br>

<p> <span class="glyphicon glyphicon-pencil"></span> 问卷填写历史 </p>
<table class="table table-hover">
<thead>
<tr>
	<td> 问卷编号 </td>
	<td> 标题 </td>
	<td> 是否填写？</td>
</tr>
</thead>
{% for rq in rq_list %}
<tr>
	<td> {{ rq.id }} </td>
	<td> <a href='/survey/{{ rq.id }}'> {{ rq.title }} </a> </td>
	<td> {{ rq.fill }} </td> 
</tr>
{% endfor %}
</table>
</div>

    {% endblock context %}