<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
{% load static %}

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<title> 分析报告 </title>
	<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
</head>
	
<body>
<div id='header' uid={{ user.id }}> </div>

<br/>
<p id='title'> </p>
<br/>

<div id='report' style="width:500px">
	<canvas type='clone'> </canvas>
	<!--<canvas id="canvas0"> </canvas>-->
	<!--<canvas id="canvas2" ></canvas>-->
</div>


<div id='footer'> </div>

<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
<script src='{% static 'js/csrf.js' %}'> </script>
<script src='{% static 'bootstrap/js/bootstrap.min.js' %}'> </script>
<script src='{% static 'js/header_footer.js' %}'> </script>
<script src='{% static 'js/Chart.min.js' %}'></script>
<script src='{% static 'js/analysis_chart.js' %}'> </script>
<script src='{% static 'js/report.js' %}'> </script>

</body>
</html>
