{% extends "base.html" %}
	{% load static %}
    {% block context %}
<script src='{% static 'js/jpage.js' %}'> </script>
<link href='{% static 'css/jpage.css' %}' rel='stylesheet'>
<script src='{% static 'js/sample_list.js' %}'> </script>

<title>样本管理</title>
<div class="col-md-offset-1 col-md-10 ">
<h3 class="text-center"> 样本管理 </h3>

<table width="100%">
	<tr>
		<td>
			<br/>
			<b>当前样本列表：</b><select id='sample_lists'></select>
			&nbsp;&nbsp;&nbsp;
			<b>样本容量：</b><span id="sample_list_size"></span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-sm btn-primary" id='new_sample_list'> 新建 </button>
			<button class="btn btn-sm btn-primary" id='save_sample_list'> 保存 </button>
			<button class="btn btn-sm btn-primary" id='export_sample_list'> 导出 </button>
			<button class="btn btn-sm btn-danger" id='delete_sample_list'> 删除 </button>
			<a id='download'> </a>
		</td>
	</tr>
	<tr>
		<td>
			<br/>
			<!--<button class="btn btn-success btn-sm" id='select_all'> 全选 </button>
			<button class="btn btn-success btn-sm" id='select_none'> 全不选 </button>-->
			<button class="btn btn-info btn-sm" id='sample_yes'> 设置为样本 </button>
			<button class="btn btn-info btn-sm" id='sample_no'> 设置为非样本 </button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<select id='show_statistic_select'></select>
			<button class="btn btn-success btn-sm" id='show_statistic'> 样本信息统计 </button>
		</td>
	</tr>
	<tr>
		<td>
		<br/>
			<button class="btn btn-sm btn-warning" id="add_constraint"> 添加抽样条件 </button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;抽样比例：抽出满足上述条件
			<input type='text' id='ratio_autosampling' style='width:30px'/>%的样本
			<button class="btn btn-sm btn-warning" id="autosampling"> 开始抽样 </button>
			<br/>
			<table id='constraint' style="margin:0px;display:inline;">
				<tr type='clone' style="display:none">
					<td>
						<select id="operator">
							<option value='and'>and</option>
							<option value='or'>or</option>
						</select>
					</td>
					<td>
						<select id="field">
						</select>
					</td>
					<td>
						<input type='radio' value='gt' /> &gt;
						<input type='radio' value='eq' /> =
						<input type='radio' value='lt' /> &lt;
						<input type='radio' value='neq' /> !=
						<input type='text'/>
					</td>
				<tr>
			</table>
		</td>
</table>
<br/>

<table class="table table-hover" id='user_list'>
	<tr>
		<td> </td>
		<td align=center> 学号 </td>
		<td align=center> 姓名 </td>
		<td align=center> 是否为样本？ </td>
		<td align=center> 积分 </td>
	</tr>
	<tr type='clone' style='display:none'>
		<td align=center> <input type='checkbox' username='' /> </td>
		<td align=center> <a type='username'> clone_a </a> </td>
		<td align=center type='name'> clone_b </td>
		<td align=center type='is_sample'> clone_c </td>
		<td align=center type='credit'> clone_d </td>
	</tr>
	<tr type='item'>
		<td> <input type='checkbox' username='' /> </td>
		<td> remove_a </td>
		<td> remove_b </td>
		<td> remove_c </td>
		<td> remove_d </td>
	</tr>
</table>

<div class="tcdPageCode" page_max='{{ page_max }}' page_current='{{ page_current }}'>
</div>
<script>
	$(".tcdPageCode").createPage({
        pageCount: $(".tcdPageCode").attr('page_max'),
        current: $(".tcdPageCode").attr('page_current'),
        backFn:function(page_n){
        	var par = window.location.search;
        	var list = 'all';
        	if (par.indexOf('?') != -1) {
        		par = par.substr(1).split('&');
        		for (var i = 0; i < par.length; i++) {
        			var arr = par[i].split('=');
        			if (arr[0] == 'list') list = arr[1];
        		}
        	}
        	var sample_list_id = $("select#sample_lists").val();
            window.location.href = '/sample_list/?samplelist=' + sample_list_id + '&list=' + list + '&page=' + page_n;
        }
    });
</script>


{{ debug }}

     

</div>


    {% endblock context %}
