<!DOCTYPE>
{% load static %}
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Survey </title>
	
	<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
	<link href='{% static 'css/survey.css' %}' rel="stylesheet">

	
</head>

<body style="background-color:#F5FFFA;text-align:center;">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""><span class="glyphicon glyphicon-search"> </span>TsingSurvey</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href='/index/'> Index </a></li>
  		<li ><a href='/profile/{{ user.id }}'> Profile </a></li>
  		{% if user.is_superuser %}
		<li ><a href='/admin_list/'> Administrators </a> </li>
  		{% endif %}
  		{% if user.is_staff %}
    	<li ><a href='/user_list/'> Users </a> </li>
    	<li ><a href='/search/'> Search </a></li>
  		{% endif %}
  		<li ><a href='/logout/'> Logout </a> </li>
  	
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<button onclick="myclick()">打印问卷信息</button>

{% ifequal viewable 1 %}
<div class="col-md-offset-2 col-md-8 ">
	<div class="panel panel-primary">
    	<div class="panel-heading">
        	
        	<p id='qid' qid='{{ qid }}' class="panel-title"> ID：{{ qid }} </p>
    	</div>
    	<div class="panel-body">
        	
    


	{% ifequal status 0 %}
	<div class="input-group">
      <div class="input-group-addon"> Title </div>
      <input type='text' id='title' value='{{ questionaire.title }}' />
    </div>
    </br>
    <div class="btn-group">
	<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"  onclick="createSurvey(1)"> 单项选择 </button>
	<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="createSurvey(2)"> 多项选择 </button>
	<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="createSurvey(3)"> 填空题 </button>
	<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="createSurvey(4)"> 下拉单选 </button>
	<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="createSurvey(5)"> 排序题 </button>
	<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="createSurvey(6)"> 矩阵题 </button>
	</div>

	{% endifequal %}

	{% ifequal status 1 %}
	<br/>
	<p class = "h2" id='title'> </p>
	<br/>
	{% endifequal %}

	{% ifequal status 2 %}
	<br/>
	<p class = "h2" id='title'> </p>
	<br/>
	{% endifequal %}



	{% ifequal status 0 %}
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" style="width:1100px">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"> Add </h4>
	      </div>
	      <div class="modal-body" id="myModal_body"> 
	       
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default " data-dismiss="modal"> Close </button>
	        <button type="button" class="btn btn-primary" onclick="commitS()">Save </button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endifequal %}



	<div style="text-align:left;">
		<table id="questions" style="width:100%;">
		</table>
	</div>



	{% ifequal status 0 %}
		<button id="save_btn" class="btn btn-success btn-sm" onclick="save()" style="float:right"> Save </button>

		<button id="release_btn" class="btn btn-success btn-sm" onclick="release()" style="float:right"> Release </button>
	{% endifequal %}

	{% ifequal status 1 %}
	{% ifequal permission_submit 1 %}
	<div style="text-align:left;">
		<button id ="submit_btn" class="btn btn-success btn-sm" onclick="submit()" style="float:right"> Submit </button>
	</div>
	{% endifequal %}
	{% if user.is_staff %}
	<button id="close_btn" class="btn btn-success btn-sm" onclick="closeup()" style="float:right"> Close </button>
	{% endif %}
	{% endifequal %}

	{% ifequal status 2 %}
	<button id="export_btn" class="btn btn-success btn-sm" onclick="exportt()" style="float:right"> Export </button>
	<a id='download'> </a>
	<button id="analysis_btn" class="btn btn-success btn-sm" onclick="analysis()" style="float:right" disabled='disabled'> Generate the Report </button>
	{% endifequal %}

		</div>
	</div>
	</div>

{% endifequal %}

<br/>
{{ info }}

<div id='footer'> </div>
<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
<script src='{% static 'js/csrf.js' %}'> </script>
<script src='{% static 'bootstrap/js/bootstrap.min.js' %}'> </script>
<script src='{% static 'js/header_footer.js' %}'> </script>
<script src='{% static 'js/survey.js' %}'> </script>
<script src='{% static 'js/survey_create.js' %}'> </script>
<script src='{% static 'js/survey_show.js' %}'> </script>
</body>