<!DOCTYPE html>
{% load static %}
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> 用户列表 </title>
	<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
	<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
	<script src='{% static 'js/csrf.js' %}'> </script>
	<script src='{% static 'js/header_footer.js' %}'> </script>
	<script src='{% static 'bootstrap/js/bootstrap.min.js' %}'> </script>
	<script src='{% static 'js/jpage.js' %}'> </script>
	<link href='{% static 'css/jpage.css' %}' rel='stylesheet'>
	<script src='{% static 'js/user_list.js' %}'> </script>
</head>

<body style="background-color:#F5FFFA;">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""><span class="glyphicon glyphicon-search"> </span>TsingSurvey</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href='/index/'> 首页 </a></li>
  		<li ><a href='/profile/{{ user.id }}'> 个人资料 </a></li>
  		{% if user.is_superuser %}
		<li ><a href='/admin_list/'> 管理员列表 </a> </li>
  		{% endif %}
  		{% if user.is_staff %}
    	<li class="active"><a href='/user_list/'> 用户列表 </a> </li>
    	<li ><a href='/search/'> 搜索 </a></li>
  		{% endif %}
  		<li ><a href='/logout/'> 登出 </a> </li>
  	
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="col-md-offset-1 col-md-10 ">
<h3 class="text-center"> 用户列表 </h3>

<table width="100%">
	<tr>
		<td>
			<button class="btn btn-info btn-sm" type='all' onclick='exportt(this)'> 导出所有用户 </button>
			<br/>
			<button class="btn btn-info btn-sm" type='sample' onclick='exportt(this)'> 导出样本名单 </button>
			<a id='download'> </a>
		</td>
		<td>
			<form enctype='multipart/form-data' action='/user_list/' method='post'>
			{% csrf_token %}
			<input type='submit' value='上传名单' class="btn btn-info btn-sm" />
			<input type='file' class="btn btn-sm" name='upload'>
			{% csrf_token %}
			</form>
		</td>
		<td align="right">
		<button class="btn btn-success btn-sm" id='select_all'> 全部选择 </button>
		<button class="btn btn-success btn-sm" id='select_none'> 全部不选择 </button>
		<button class="btn btn-success btn-sm" id='sample_yes'> 设置为样本 </button>
		<button class="btn btn-success btn-sm" id='sample_no'> 设置为非样本 </button>
		<button class="btn btn-danger btn-sm" id='delete'> 删除 </button>
		</td>
	</tr>
</table>
<br/>


<table class="table">
	<tr>
	<td>
		<button class="btn btn-sm btn-warning" id='add_constraint'> 添加筛选样本条件 </button>
		<button class="btn btn-sm btn-warning" id='auto_sample'> 自动筛选 </button>
		<div id='constraint'>
			<div type='clone' style='display:none'>
				<select onchange='constraint_select_change(this)'>
					<option value='-1'> </option>
				</select>
				<input type='checkbox' name='checkbox_clone' style='display:none'/>
				<span name='span_clone' style='display:none'> </span>
			</div>
		</div>
		<button class="btn btn-sm btn-warning" id='add_statistic'> 样本统计 </button>
		<div id='statistic'>
			<div type='clone' style='display:none'>
				<span> </span>
				<button class="btn btn-sm btn-warning" id='show_statistic' onclick='show_statistic(this)'> 显示统计 </button>
				<select> </select>
			</div>
		</div>
		<br/>
		样本数上限 <input type='text' id='upperbound' style='width:120px'/>
	</td>
	<td align='right'>
		<button class="btn btn-sm btn-primary" id='list_add'> 显示全部 </button>
		<button class="btn btn-sm btn-primary" id='list_sample'> 显示样本 </button>
		<button class="btn btn-sm btn-primary" id='list_single'> 显示个人 </button>
		<input type='text' id='query_single' style='width:120px'/>
	</td>
	</tr>
</table>


<table class="table table-hover" id='user_list'>
	<tr>
		<td> </td>
		<td align=center> 学号 </td>
		<td align=center> 姓名 </td>
		<td align=center> 是否为样本？ </td>
		<td align=center> 积分 </td>
	</tr>
	<tr type='clone' style='display:none'>
		<td align=center> <input type='checkbox' username='' /> </td>
		<td align=center> <a type='username'> clone_a </a> </td>
		<td align=center type='name'> clone_b </td>
		<td align=center type='is_sample'> clone_c </td>
		<td align=center type='credit' onclick='change_credit(this)'> clone_d </td>
	</tr>
	<tr type='item'>
		<td> <input type='checkbox' username='' /> </td>
		<td> remove_a </td>
		<td> remove_b </td>
		<td> remove_c </td>
		<td> remove_d </td>
	</tr>
</table>

<div class="tcdPageCode" page_max='{{ page_max }}' page_current='{{ page_current }}'>
</div>
<script>
	$(".tcdPageCode").createPage({
        pageCount: $(".tcdPageCode").attr('page_max'),
        current: $(".tcdPageCode").attr('page_current'),
        backFn:function(page_n){
        	var par = window.location.search;
        	var list = 'all';
        	if (par.indexOf('?') != -1) {
        		par = par.substr(1).split('&');
        		for (var i = 0; i < par.length; i++) {
        			var arr = par[i].split('=');
        			if (arr[0] == 'list') list = arr[1];
        		}
        	}
            window.location.href = '/user_list/?list=' + list + '&page=' + page_n;
        }
    });
</script>


{{ debug }}


</div>
<div id='footer'> </div>
</body>
</html>