{% extends "base.html" %}
	{% load static %}
    {% block context %}
<script src='{% static 'js/jpage.js' %}'> </script>
<link href='{% static 'css/jpage.css' %}' rel='stylesheet'>
<script src='{% static 'js/user_list.js' %}'> </script>


<div class="col-md-offset-1 col-md-10 ">
<h3 class="text-center"> 用户列表 </h3>

<table width="100%">
	<tr>
		<td>
			<button class="btn btn-info btn-sm" type='all' onclick='exportt(this)'> 导出所有用户 </button>
			<button class="btn btn-info btn-sm" type='sample' onclick='exportt(this)'> 导出样本名单 </button>
			<button id='add_new_user' class="btn btn-info btn-sm"> 添加新用户 </button>
			<input id="add_new_user" type="text" style="width:90px"/>
			<a id='download'> </a>
			<form enctype='multipart/form-data' action='/user_list/' method='post' style="margin:0px;display:inline;">
			{% csrf_token %}
			<input type='submit' value='上传名单' class="btn btn-info btn-sm" >
			<input type='file' class="btn btn-sm" name='upload' style="margin:0px;display:inline;">
			{% csrf_token %}
			</form>
		</td>
	<tr>
		<td>
		<br/>
		<button class="btn btn-success btn-sm" id='sample_yes'> 设置为样本 </button>
		<button class="btn btn-success btn-sm" id='sample_no'> 设置为非样本 </button>
		<button class="btn btn-success btn-sm" id='clear_all_sample'> 清空所有样本 </button>
		<button class="btn btn-danger btn-sm" id='delete'> 删除 </button>
		<button class="btn btn-danger btn-sm" id='delete_all'> 删除所有用户 </button>
		</td>
	</tr>
	<tr>
		<td>
		<br/>
		<button class="btn btn-sm btn-warning" id='auto_sample'> 自动筛选 </button>
		<button class="btn btn-sm btn-warning" id='show_statistic'> 样本统计 </button>
		<button class="btn btn-sm btn-warning" id='save_sample_list'> 保存样本列表 </button>
		<button class="btn btn-sm btn-warning" id='add_constraint'> 添加筛选条件 </button>
		<div id='constraint' style="margin:0px;display:inline;">
			<!--<div type='clone' style='display:none'>
				<select>
					<option value='-1'> </option>
				</select>
				<input type='checkbox' name='checkbox_clone' style='display:none'/>
				<span name='span_clone' style='display:none'> </span>
			</div>-->
			<select type='clone' style='display:none'>
				<option value='-1'> </option>
			</select>
		</div>
		抽样比例 <input type='text' id='upperbound' style='width:30px'/>%
		<table id='statistic' class='table table-bordered'>
			<tr type='clone'> </tr>
		</table>
		</td>
	<tr>
		<td >
			<button class="btn btn-sm btn-primary" id='list_add'> 显示全部 </button>
			<button class="btn btn-sm btn-primary" id='list_sample'> 显示样本 </button>
			<button class="btn btn-sm btn-primary" id='list_single'> 显示个人 </button>
			<input type='text' id='query_single' style='width:90px'/>
		</td>
	</tr>
</table>
<br/>

<table class="table table-hover" id='user_list'>
	<tr>
		<td> </td>
		<td align=center> 学号 </td>
		<td align=center> 姓名 </td>
		<td align=center> 是否为样本？ </td>
		<td align=center> 积分 </td>
	</tr>
	<tr type='clone' style='display:none'>
		<td align=center> <input type='checkbox' username='' /> </td>
		<td align=center> <a type='username'> clone_a </a> </td>
		<td align=center type='name'> clone_b </td>
		<td align=center type='is_sample'> clone_c </td>
		<td align=center type='credit' onclick='change_credit(this)'> clone_d </td>
	</tr>
	<tr type='item'>
		<td> <input type='checkbox' username='' /> </td>
		<td> remove_a </td>
		<td> remove_b </td>
		<td> remove_c </td>
		<td> remove_d </td>
	</tr>
</table>

<div class="tcdPageCode" page_max='{{ page_max }}' page_current='{{ page_current }}'>
</div>
<script>
	$(".tcdPageCode").createPage({
        pageCount: $(".tcdPageCode").attr('page_max'),
        current: $(".tcdPageCode").attr('page_current'),
        backFn:function(page_n){
        	var par = window.location.search;
        	var list = 'all';
        	if (par.indexOf('?') != -1) {
        		par = par.substr(1).split('&');
        		for (var i = 0; i < par.length; i++) {
        			var arr = par[i].split('=');
        			if (arr[0] == 'list') list = arr[1];
        		}
        	}
            window.location.href = '/user_list/?list=' + list + '&page=' + page_n;
        }
    });
</script>


{{ debug }}

     

</div>


    {% endblock context %}
